/* Make Bootstrap nav-tabs red-themed */
:root{
   --item-color : #198754; 
}
.nav-tabs {
  --bs-nav-tabs-border-color: var(--item-color);
  --bs-nav-tabs-link-hover-border-color: var(--item-color) var(--item-color) var(--item-color);
  --bs-nav-tabs-link-active-color: #fff;
  --bs-nav-tabs-link-active-bg: var(--item-color);
  --bs-nav-tabs-link-active-border-color:var(--item-color) var(--item-color) var(--item-color);
}

.nav-tabs .nav-link {
  color: var(--item-color);
}

.nav-tabs .nav-link:hover {
  color: var(--item-color);
}
